@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.progress-container {
    position: relative;
    height: 2px;
    background-color: #4caf50;
    cursor: pointer;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2196f3;
}

/* Player styles */
.player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    z-index: 50;
}

.player-container.visible {
    transform: translateY(0);
}

.player-content {
    padding: 10px;
}

/* Override react-h5-audio-player default styles */
.rhap_container {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 8px 8px 0 0;
}

.rhap_progress-bar,
.rhap_volume-bar {
    background-color: #e4e4e4 !important;
}

.rhap_controls-section,
.rhap_time {
    color: #fff !important;
}

.rhap_play-pause-button,
.rhap_volume-button,
.rhap_forward-button,
.rhap_replay-button {
    color: #868686 !important;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .player-container {
        left: 35%;
        transform: translateX(-50%) translateY(100%);
        width: 33%;
    }

    .player-container.visible {
        transform: translateX(-50%) translateY(0);
    }

    .rhap_container {
        border-radius: 8px;
    }
}